<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/back_btn_reload.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/admin.js"></script>
    <script defer src="/js/reconnection.js"></script>
    <title>RadioWęzeł</title>
</head>

<body>
    <div id="contentWrapper">
        <%- include("partials/header.ejs") %>
            <div id="songContainer">
                <div style="display: none;">
                    <div id="songTemplate" data-videoid="" class="song">
                        <div class="songContent">
                            <div class="title">
                            </div>
                            <div class="creator">
                            </div>
                        </div>
                    </div>
                </div>
                <% submitQueue.forEach(video=> { %>
                    <div data-videoid="<%= video.ytid %>" class="song">
                        <div class="songContent">
                            <div class="title">
                                <%- video.title %>
                            </div>
                            <div class="creator">
                                <%- video.creator %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div style="display: none;">
                <div id="manageTemplate">
                    <div id="iframeWrapper"><iframe frameborder="0" src="https://www.youtube.com/embed/id"></iframe>
                    </div>
                    <div id="buttons">
                        <div id="deny" class="button"><img src="/images/deny.png"></div>
                        <div id="accept" class="button"><img src="/images/accept.png"></div>
                        <div id="link" class="button"><a href="https://www.youtube.com/watch?v=id" target="_blank"><img
                                    src="/images/link.png"></a></div>
                        <div id="lyrics" class="button"><img src="/images/lyrics.png"></div>
                    </div>
                    <table id="lyricsText"></table>
                </div>
            </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>
