<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script defer src="/js/index.js"></script>
    <script defer src="/js/reconnection.js"></script>
    <title>RadioWęzeł</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div id="currentSong">
            <img id="thumbnail" style="margin-bottom: 5vw;" src="https://i.ytimg.com/vi/qP-7GNoDJ5c/hqdefault.jpg">
            <table id="progressBar">
                <tr>
                    <td id="left" class="progressNumber">00:00</td>
                    <td class="bar">
                        <input class="bar" min="0" max="100" type="range" disabled>
                    </td>
                    <td id="right" class="progressNumber">00:00</td>
                </tr>
            </table>
        </div>
        <img style="position: relative; top: -3px;" src="/images/waves.png">
        <table id="songContainer">
            <% votingQueue.forEach(voteElement=> { %>
                <tr class="song">
                    <td class="songContent">
                        <a href="<%= 'https://www.youtube.com/watch?v=' + voteElement.video.id %>" target="_blank">
                            <%- voteElement.video.title %>
                        </a>
                    </td>
                    <% if (user && !user.votes.includes(voteElement.video.id)) { %>
                        <td data-videoid="<%= voteElement.video.id %>" class="upvote">&#11165;</td>
                        <% } else { %>
                            <td data-videoid="<%= voteElement.video.id %>" data-voted="true" class="upvote">
                                <%- voteElement.votes %>
                            </td>
                            <% } %>
                </tr>
                <% }) %>
        </table>
        <% if (user) { %>
            <div id="addSongButton"><a href="submit"><img src="/images/plus.png"></a></div>
            <% } %>
</body>

</html>
