<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/index.js"></script>
    <script defer src="/js/reconnection.js"></script>
    <script>
        loggedIn = <%= !!user %>
    </script>
    <title>RadioWęzeł</title>
</head>

<body>
    <div id="contentWrapper">
        <%- include("partials/header.ejs") %>
            <div id="currentWrapper">
                <div id="currentSong">
                    <img id="thumbnail" class="loading" src="/images/loading.gif">
                    <div id="progressBar">
                        <div id="left" class="progressNumber">00:00</div>
                        <div class="bar">
                            <input min="0" max="100" type="range" disabled>
                        </div>
                        <div id="right" class="progressNumber">00:00</div>
                    </div>
                </div>
                <img id="waves" style="position: relative; top: -3px;" src="/images/waves.png">
            </div>
            <div id="songContainer">
                <div style="display: none;">
                    <div id="songTemplate" class="song">
                        <div class="songIcon"></div>
                        <div class="titleAndCreator">
                            <div class="title">
                                <a href=""></a>
                            </div>
                            <div class="creator">
                            </div>
                        </div>
                        <div data-videoid="" class="upvote">
                            ▲
                        </div>
                    </div>
                </div>
                <% votingQueue.forEach(voteElement=> { %>
                    <div class="song">
                        <div class="songIcon" style="background-image: url('<%- voteElement.video.thumbnail %>');">
                        </div>
                        <div class="titleAndCreator">
                            <a class="title" href="<%= 'https://www.youtube.com/watch?v=' + voteElement.video.ytid %>">
                                <%- voteElement.video.title %>
                            </a>
                            <div class="creator">
                                <%- voteElement.video.creator %>
                            </div>
                        </div>
                        <% if (user && !voteElement.votes.includes(user.googleId)) { %>
                            <div data-videoid="<%= voteElement.video.ytid %>" class="upvote">&#9650;</div>
                            <% } else { %>
                                <div data-videoid="<%= voteElement.video.ytid %>" data-voted="true" class="upvote">
                                    <%- voteElement.votes.length %>
                                </div>
                                <% } %>
                    </div>
                    <% }) %>
            </div>
            <% if (user) { %>
                <a href="/submit">
                    <div id="addSongButton">
                        <img src="/images/plus.png">
                    </div>
                </a>
                <% } %>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>
