<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/submit.css">
    <script src="/js/back_btn_reload.js"></script>
    <script defer src="/js/submit.js"></script>
    <script>
        // remain viewport when mobile keyboard pops out
        let viewport = document.querySelector("meta[name=viewport]")
        viewport.setAttribute("content", viewport.content + ", height=" + window.innerHeight)
    </script>
    <title>Propozycja</title>
</head>

<body>
    <div id="submitionSuccess">
        <div id="loading-response" class="info" style="display: block;"><img src="/images/loading.gif"></div>
        <div id="successThumbnail" style="display: none;">
            <img id="tick" src="/images/accept.png">
            <div class="darkener"></div>
        </div>
    </div>
    <div id="contentWrapper">
        <div id="searchBar">
            <a href="/"><img src="/images/back.png"></a>
            <input id="searchInput" type="text" placeholder="Wpisz szukaną piosenkę" spellcheck="false">
            <img id="searchIcon" src="/images/search.png">
        </div>
        <div id="gradientStrip"></div>
        <div id="loading-results" style="display: none;" class="info"><img src="/images/loading.gif"></div>
        <% if (!results.length && searching) { %>
            <div class="info"><img src="/images/noresults.png"></div>
            <% } %>
                <div id="resultContainer">
                    <% results.forEach(result=> { %>
                        <div class="video" data-hash='<%- JSON.stringify(result) %>'>
                            <div class="thumbnail elMargin">
                                <img src="<%= result.thumbnail %> ">
                            </div>
                            <div class="titleAndCreator elMargin">
                                <div class="title">
                                    <%= result.title %>
                                </div>
                                <div class="creator">
                                    <%= (result.explicit ? "🅴 " : " " ) + result.creator %>
                                </div>
                            </div>
                            <% if (result.submitted) { %>
                                <div class="submitted unclickable">Ta piosenka jest już dodana</div>
                                <% } else if (result.toLong) { %>
                                    <div class="toLong unclickable">Ta piosenka jest za długa</div>
                                    <%} %>
                        </div>
                        <% }) %>
                </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>
